name: Build the dev mode UI

on:
  # Runs on pushes targeting the `main` branch, and only for the `frontend/dev-mode/**` path.
  pull_request:
    paths:
      - 'frontend/dev-mode/**'

  # Allows us to run this workflow manually from the Actions tab
  workflow_dispatch:

env:
  PNPM_CACHE_STORE_PATH: ""

jobs:
  build-ui:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      ## install build dependencies for frontend generation
      - name: Install Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: './frontend/dev-mode/.nvmrc'

      - name: Install pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          package_json_file: frontend/dev-mode/package.json
          run_install: false

      - name: Get pnpm store directory
        shell: bash
        run: |
          echo "PNPM_CACHE_STORE_PATH=$(pnpm store path --silent)" >> $GITHUB_ENV

      - uses: actions/cache@8b402f58fbc84540c8b491a91e594a4576fec3d7 # v5.0.2
        name: Setup pnpm cache
        with:
          path: ${{ env.PNPM_CACHE_STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: Install dependencies
        run: |
          cd ./frontend/dev-mode
          pnpm install

      - name: Run the build
        run: |
          cd ./frontend/dev-mode
          pnpm build
