name: Build the docs

on:
  # Runs on pull requests to the `main` branch and only for the `docs/**` path.
  pull_request:
    branches: [ main ]
    paths:
      - 'docs/**'

  # Allows us to run this workflow manually from the Actions tab
  workflow_dispatch:

env:
  PNPM_CACHE_STORE_PATH: ""

jobs:
  # Build job
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # 6.0.1

      - name: Install Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # 6.1.0
        with:
          node-version-file: './docs/.nvmrc'

      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # 4.2.0
        name: Install pnpm
        with:
          run_install: false
          package_json_file: './docs/package.json'

      - name: Get pnpm store directory
        shell: bash
        run: |
          echo "PNPM_CACHE_STORE_PATH=$(pnpm store path --silent)" >> $GITHUB_ENV

      - uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # 5.0.1
        name: Setup pnpm cache
        with:
          path: ${{ env.PNPM_CACHE_STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: Install dependencies
        run: |
          cd docs
          pnpm install

      - name: Build the docs
        run: |
          cd docs
          pnpm docs:build
