name: Next CLI container build

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths-ignore: docs/

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}
  INIT_IMAGE_NAME: ${{ github.repository }}-init
  KIT_SERVE_IMAGE: ${{ github.repository }}-kserve
  NEXT_TAG: next

permissions:
  id-token: write
  contents: read
  attestations: write
  packages: write

jobs:
  docker-image-build:
    runs-on: ubuntu-latest
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130    # v3.7.0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435  # v3.11.1

      - name: Login to ghcr.io
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef         # v3.6.0
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Build and push base Kit container
        id: build-kit-container
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83    # v6.18.0
        with:
          platforms: linux/amd64,linux/arm64
          push: true
          context: .
          file: build/dockerfiles/Dockerfile
          build-args: |
            KIT_VERSION=${{ github.ref_name }}
          tags: |
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ env.NEXT_TAG }}
          annotations: |
            index:org.opencontainers.image.description=Kit CLI container built from source
            index:org.opencontainers.image.source=https://github.com/kitops-ml/kitops
            index:org.opencontainers.image.licenses=Apache-2.0

      - name: Build and push Kit init container
        id: build-kit-init-container
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83    # v6.18.0
        with:
          platforms: linux/amd64,linux/arm64
          push: true
          context: build/dockerfiles/init
          file: build/dockerfiles/init/Dockerfile
          build-args: |
            KIT_BASE_IMAGE=${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}@${{ steps.build-kit-container.outputs.digest }}
          tags: |
            ${{ env.REGISTRY }}/${{ env.INIT_IMAGE_NAME }}:${{ env.NEXT_TAG }}
          annotations: |
            index:org.opencontainers.image.description=Kit CLI init container
            index:org.opencontainers.image.source=https://github.com/kitops-ml/kitops
            index:org.opencontainers.image.licenses=Apache-2.0
     
      - name: Build and push Kit KServe container
        id: build-kit-serve-container
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83    # v6.18.0
        with:
          platforms: linux/amd64,linux/arm64
          push: true
          context: build/dockerfiles/KServe
          file: build/dockerfiles/KServe/Dockerfile
          build-args: |
            KIT_BASE_IMAGE=${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}@${{ steps.build-kit-container.outputs.digest }}
          tags: |
            ${{ env.REGISTRY }}/${{ env.KIT_SERVE_IMAGE }}:${{ env.NEXT_TAG }}
          annotations: |
            index:org.opencontainers.image.description=KitOps KServe container
            index:org.opencontainers.image.source=https://github.com/kitops-ml/kitops
            index:org.opencontainers.image.licenses=Apache-2.0
