name: Validate PRs

on:
  pull_request:
    branches: [ main ]

jobs:
  check-sources:
    name: Check sources
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]

    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Setup Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version-file: 'go.mod'

      - name: Check go.mod
        shell: bash
        run: |
          go mod tidy
          if ! git diff --quiet; then
            echo "Go modules need tidying (go mod tidy)"
            exit 1
          fi

      - name: Check format
        shell: bash
        run: |
          go fmt ./...
          if ! git diff --quiet; then
            echo "Files are not formatted (go fmt ./...)"
            exit 1
          fi

      - name: Check license headers
        shell: bash
        run: |
          go install github.com/google/addlicense@latest
          if ! addlicense --check -s -l apache -c "The KitOps Authors." $(find . -name '*.go'); then
            echo "License headers missing from Go files (see above)."
            echo "Install addlicense via 'go install github.com/google/addlicense@latest'"
            echo "And run 'addlicense -s -l apache -c \"The KitOps Authors.\" \$(find . -name '*.go')'"
            exit 1
          fi

      - name: Generate embeds
        run: |
          go generate ./...

      - name: Check build
        shell: bash
        run: |
          if ! go build -o kit; then
            echo "Project does not build"
            exit 1
          fi

      - name: Run tests
        shell: bash
        run: |
          if ! go test ./... -v; then
            echo "Project tests failed"
            exit 1
          fi

      - name: Test Vitepress includes
        shell: bash
        run: |
          grep -rnw '@include' --exclude-dir docs/node_modules docs | while read -r line; do
            file="${line%%:*}"
            include="${line##*@include: }"
            include="${include%%-->}"
            expected="$(dirname "$file")/$include"
            if [ ! -f "$expected" ]; then
              echo "Broken include in $file: path $expected does exist"
              exit 1
            fi
          done

      - name: Check for trailing whitespace
        shell: bash
        run: |
          files=$(grep -E -lI --exclude '*.svg' --exclude 'docs/*' --exclude 'frontend/*' " +$" $(git ls-files) || true)
          if [ ! -z $files ]; then
            echo "Trailing whitespace in files:"
            echo "$files"
            exit 1
          fi

      - name: Upload build artifacts
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: pr-artifacts-${{ matrix.os }}
          retention-days: 3
          path: |
            ./kit*

  check-container-build:
    runs-on: ubuntu-latest
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130    # v3.7.0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435  # v3.11.1

      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Check kit container build
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83    # v6.18.0
        with:
          platforms: linux/amd64,linux/arm64
          push: false
          context: .
          file: build/dockerfiles/Dockerfile
          build-args: |
            KIT_VERSION=${{ github.ref_name }}
